h1, body{
    text-align: center;
    font-family: 'Sora', sans-serif;

}

section {
    background-color:#E8EEFE;
    width: 40%;
    height: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2%;
}

span{
    text-align: center;
    padding-left: 120px; 
}

.comptask{
    text-decoration: line-through;
    text-decoration-color: #7c7c84;
}